@model PagedList.IPagedList<Model.EF.DichVu>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh Sách dịch vụ
}
<p>
    @Html.ActionLink("Thêm Mới", "ThemMoi")
</p>
@using (Html.BeginForm("Index", "DichVu", FormMethod.Get))
{
    <div class="row form-group">
        <div class="col-lg-12">
            <div class="col-md-4">
                <input type="text" value="@ViewBag.SearchString" class="form-control" placeholder="Mời nhập tên cần tìm" name="searchString" />
                <button type="submit" class="btn btn-success">Tìm kiếm</button>
            </div>
        </div>
    </div>
}
<table class="table">
    <tr style="background-color:lightblue">
        <th>
            Mã dịch vụ
        </th>
        <th>
            Tên dịch vụ
        </th>
        <th>
            Giá
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row_@item.MaDichVu">
            <td>
                @Html.DisplayFor(modelItem => item.MaDichVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDichVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaDichVu }) |
                @Ajax.ActionLink("Xóa", "Delete", new { @id = item.MaDichVu }, new AjaxOptions
               {
                   Confirm = "Bạn có muốn xóa quyền hạn này không.",
                   OnComplete = "$('#row_" + @item.MaDichVu + "').remove()",
                   HttpMethod = "Delete"
               })
            </td>
        </tr>
    }

</table>
<label>
    Trang số: @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
</label>