@model PagedList.IPagedList<Model.EF.KhachSan>
@using PagedList.Mvc;

@{
    ViewBag.Title = "DanhSachKhachSan";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh Sách Khách Sạn
}

<p>
    @Html.ActionLink("Thêm mới", "ThemMoiKhachSan")
</p>
@using (Html.BeginForm("DanhSachKhachSan", "KhachSan", FormMethod.Get))
{
    <div class="row form-group">
        <div class="col-lg-12">
            <div class="col-md-4">
                <input type="text" value="@ViewBag.SearchString" class="form-control" placeholder="Mời nhập tên cần tìm" name="searchString" />
                <button type="submit" class="btn btn-success">Tìm kiếm</button>
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            Ảnh đại diện
        </th>
        <th>
            Tên khách sạn
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Email
        </th>
        <th>
            Số điện thoại
        </th>
        <th style="width:274px">
            Ghi chú
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row_@item.MaKhachSan" style="max-height:133px">
            <td>
                <a href="@Url.Action("ChiTiet","KhachSan",new { id= item.MaKhachSan} )">
                    <img alt="@item.TenKhachSan" src="@Url.Content(item.Anh)" width="100" height="100" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhachSan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.Raw(item.GhiChu)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaKhachSan }) |
                @Ajax.ActionLink("Xóa", "Delete", new { @id = item.MaKhachSan }, new AjaxOptions
               {
                   Confirm = "Bạn có muốn xóa thông tin này này không.",
                   OnComplete = "$('#row_" + @item.MaKhachSan + "').remove()",
                   HttpMethod = "Delete"
               })
            </td>
        </tr>
    }

</table>
<label>
    Trang số: @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
</label>