@model  PagedList.IPagedList<Model.EF.NhaCungCap>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Trang Nhà Cung Cấp";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Danh Sách Nhà Cung Cấp
}
<p>
    @Html.ActionLink("Thêm Mới", "ThemMoi")
</p>
@using (Html.BeginForm("Index", "NhaCungCap", FormMethod.Get))
{
    <div class="row form-group">
        <div class="col-lg-12">
            <div class="col-md-4">
                <input type="text" value="@ViewBag.SearchString" class="form-control" placeholder="Mời nhập tên cần tìm" name="searchString" />
                <button type="submit" class="btn btn-success">Tìm kiếm</button>
            </div>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th></th>
        <th>Tên Nhà Cung Cấp</th>
        <th>Địa Chỉ</th>
        <th>SDT</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row_@item.MaNhaCungCap">
            <td></td>
            <td>@Html.DisplayFor(modelItem => item.TenNhaCungCap)</td>
            <td>@Html.DisplayFor(modelItem => item.DiaChi)</td>
            <td>@Html.DisplayFor(modelItem => item.SDT)</td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaNhaCungCap }) |

                @Ajax.ActionLink("Xóa", "Delete", new { @id = item.MaNhaCungCap }, new AjaxOptions
           {
               Confirm = "Bạn có muốn xóa Nhà Cung Cấp này không.",
               OnComplete = "$('#row_" + @item.MaNhaCungCap + "').remove()",
               HttpMethod = "Delete"
           })
            </td>
        </tr>
    }
</table>

<label>
    Trang số: @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
</label>



