@model PagedList.IPagedList<Model.EF.LoaiHang>
@using PagedList.Mvc;

@{
    ViewBag.Title = "DanhSachLoaiMatHang";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh sách loại hàng
}

<p>
    @Html.ActionLink("Thêm mới", "ThemMoi")
</p>
@using (Html.BeginForm("DanhSachLoaiMatHang", "LoaiHang", FormMethod.Get))
{
    <div class="row form-group">
        <div class="col-lg-12">
            <div class="col-md-4">
                <input type="text" value="@ViewBag.SearchString" class="form-control" placeholder="Mời nhập tên cần tìm" name="searchString" />
                <button type="submit" class="btn btn-success">Tìm kiếm</button>
            </div>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th></th>
        <th>
            Tên loại hàng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row_@item.MaLoaiHang">
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoaiHang)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaLoaiHang }) |

                @Ajax.ActionLink("Xóa", "Delete", new { @id = item.MaLoaiHang }, new AjaxOptions
               {
                   Confirm = "Bạn có muốn xóa thông tin này không.",
                   OnComplete = "$('#row_" + @item.MaLoaiHang + "').remove()",
                   HttpMethod = "Delete"
               })
            </td>
        </tr>
    }

</table>
<label>
    Trang số: @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
</label>