@model Model.EF.LoaiHang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Chỉnh sửa thông tin
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaLoaiHang)

        <div class="form-group">
            <div class="col-md-7" style="margin:auto">
                @Html.LabelFor(model => model.TenLoaiHang, htmlAttributes: new { @class = "control-label col-md-3" })
                @Html.EditorFor(model => model.TenLoaiHang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenLoaiHang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="text-align:center">
                <input type="submit" value="Cập nhật" class="btn btn-default alert-danger" />
            </div>
        </div>
    </div>
}
