@model Model.EF.KhachHang
@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header
    {
    Thêm Mới Khách Hàng
}
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            <div style="margin-left:10%">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    Tên Khách Hàng Mới:
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenKhachHang, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenKhachHang, "", new { @class = "text-danger" })
                    </div>
                    SDT:
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                    </div>
                    Giới Tính :
                    <div class="col-md-10">
                        <form>
                            <input name="gioitinh" type="radio" value="Nam" />Nam
                            <input name="gioitinh" type="radio" value="Nữ" />Nữ
                            <input name="gioitinh" type="radio" value="Khác" />Khác


                         @*@Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control" } })
                         @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })*@
                        </form>
                    </div>
                    Địa Chỉ:
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                    </div>
                    Email:
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    </div>



                    <div class="form-group" style="text-align:center">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Tạo mới" class="btn btn-danger btn-icon-split" />
                        </div>
                    </div>
                </div>
        </div>
    }
</div>

