<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/Assets/KhachHang/image/favicon.png" type="image/png">
    <title>Hotel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/KhachHang/css/bootstrap.css">
    <link rel="stylesheet" href="~/Assets/KhachHang/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/Assets/KhachHang/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/KhachHang/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/KhachHang/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/Assets/KhachHang/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/Assets/KhachHang/vendors/owl-carousel/owl.carousel.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Assets/KhachHang/css/style.css">
    <link rel="stylesheet" href="~/Assets/KhachHang/css/responsive.css">
</head>
<body>
    <!--================Header Area =================-->
    <header class="header_area" style="">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="index.html"><img src="image/Logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent" ">
                    <ul class="nav navbar-nav menu_nav ml-auto" style="color:white">
                        <li class="nav-item active"><a class="nav-link" href="/HomeKH/Index">Trang Chủ</a></li>

                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bảng Giá</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("BangGiaPhong", "BangGia")">Giá Phòng</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("BangGiaDichVu", "BangGia")">Giá Dịch Vụ</a></li>
                            </ul>
                        </li>




                        @*<li class="has-dropdown">
                                <a href="#">Bảng giá</a>
                                <ul class="dropdown">
                                    <li><a class="nav-link" href="@Url.Action("GiaPhong", "BangGia")">Giá phòng</a></li>
                                    <li><a class="nav-link" href="@Url.Action("GiaDichVu", "BangGia")">Giá dịch vụ</a></li>
                                </ul>
                            </li>*@



                        <li class="nav-item"><a class="nav-link" href="/DatPhongKH/DatPhongMoi">Đặt Phòng</a></li>
                        <li class="nav-item"><a class="nav-link" href="gallery.html">Khách Sạn</a></li>

                        <li class="nav-item"><a class="nav-link" href="gallery.html">Phản Hồi</a></li>
                        

                        <li class="nav-item"><a class="nav-link" href="contact.html">Liên Hệ</a></li>
                        
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Area =================-->
    <!--================Banner Area =================-->
    
    <!--================Banner Area =================-->
    <!--================ Accomodation Area  =================-->
    <div style="text-align:left; min-height:450px; color:#000000">
        @RenderBody()
    </div>
        <!--================ Accomodation Area  =================-->
        <!--================ Facilities Area  =================-->
        <!--================ Facilities Area  =================-->
        <!--================ About History Area  =================-->
        @*<section class="about_history_area section_gap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 d_flex align-items-center">
                            <div class="about_content ">
                                <h2 class="title title_color">About Us <br>Our History<br>Mission & Vision</h2>
                                <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
                                <a href="#" class="button_hover theme_btn_two">Request Custom Price</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid" src="image/about_bg.jpg" alt="img">
                        </div>
                    </div>
                </div>
            </section>*@
        <!--================ About History Area  =================-->
        <!--================ Testimonial Area  =================-->
        @*<section class="testimonial_area section_gap">
                <div class="container">
                    <div class="section_title text-center">
                        <h2 class="title_color">Testimonial from our Clients</h2>
                        <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from </p>
                    </div>
                    <div class="testimonial_slider owl-carousel">
                        <div class="media testimonial_item">
                            <img class="rounded-circle" src="image/testtimonial-1.jpg" alt="">
                            <div class="media-body">
                                <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                                <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                                <div class="star">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="media testimonial_item">
                            <img class="rounded-circle" src="image/testtimonial-1.jpg" alt="">
                            <div class="media-body">
                                <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                                <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                                <div class="star">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="media testimonial_item">
                            <img class="rounded-circle" src="image/testtimonial-1.jpg" alt="">
                            <div class="media-body">
                                <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                                <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                                <div class="star">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="media testimonial_item">
                            <img class="rounded-circle" src="image/testtimonial-1.jpg" alt="">
                            <div class="media-body">
                                <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                                <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                                <div class="star">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>*@
        <!--================ Testimonial Area  =================-->
        <!--================ Latest Blog Area  =================-->
        @*<section class="latest_blog_area section_gap">
                <div class="container">
                    <div class="section_title text-center">
                        <h2 class="title_color">latest posts from blog</h2>
                        <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from </p>
                    </div>
                    <div class="row mb_30">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-recent-blog-post">
                                <div class="thumb">
                                    <img class="img-fluid" src="image/blog/blog-1.jpg" alt="post">
                                </div>
                                <div class="details">
                                    <div class="tags">
                                        <a href="#" class="button_hover tag_btn">Travel</a>
                                        <a href="#" class="button_hover tag_btn">Life Style</a>
                                    </div>
                                    <a href="#"><h4 class="sec_h4">Low Cost Advertising</h4></a>
                                    <p>Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.</p>
                                    <h6 class="date title_color">31st January,2018</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-recent-blog-post">
                                <div class="thumb">
                                    <img class="img-fluid" src="image/blog/blog-2.jpg" alt="post">
                                </div>
                                <div class="details">
                                    <div class="tags">
                                        <a href="#" class="button_hover tag_btn">Travel</a>
                                        <a href="#" class="button_hover tag_btn">Life Style</a>
                                    </div>
                                    <a href="#"><h4 class="sec_h4">Creative Outdoor Ads</h4></a>
                                    <p>Self-doubt and fear interfere with our ability to achieve or set goals. Self-doubt and fear are</p>
                                    <h6 class="date title_color">31st January,2018</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-recent-blog-post">
                                <div class="thumb">
                                    <img class="img-fluid" src="image/blog/blog-3.jpg" alt="post">
                                </div>
                                <div class="details">
                                    <div class="tags">
                                        <a href="#" class="button_hover tag_btn">Travel</a>
                                        <a href="#" class="button_hover tag_btn">Life Style</a>
                                    </div>
                                    <a href="#"><h4 class="sec_h4">It S Classified How To Utilize Free</h4></a>
                                    <p>Why do you want to motivate yourself? Actually, just answering that question fully can </p>
                                    <h6 class="date title_color">31st January,2018</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>*@
        <!--================ Recent Area  =================-->
        <!--================ start footer Area  =================-->
        <footer class="footer-area section_gap">
            <div class="container">
                
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-12 footer-text m-0">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <span>Copyright &copy; Quản lý chuỗi khách sạn 2010</span>
                       
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                    <div class="col-lg-4 col-sm-12 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!--================ End footer Area  =================-->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="~/Assets/KhachHang/js/jquery-3.2.1.min.js"></script>
        <script src="~/Assets/KhachHang/js/popper.js"></script>
        <script src="~/Assets/KhachHang/js/bootstrap.min.js"></script>
        <script src="~/Assets/KhachHang/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="~/Assets/KhachHang/js/jquery.ajaxchimp.min.js"></script>
        <script src="~/Assets/KhachHang/js/mail-script.js"></script>
        <script src="~/Assets/KhachHang/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="~/Assets/KhachHang/vendors/nice-select/js/jquery.nice-select.js"></script>
        <script src="~/Assets/KhachHang/js/mail-script.js"></script>
        <script src="~/Assets/KhachHang/js/stellar.js"></script>
        <script src="~/Assets/KhachHang/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="~/Assets/KhachHang/js/custom.js"></script>

        @Scripts.Render("~/bunfles/jquery")
        @Scripts.Render("~/bunfles/bootstrap")
        @RenderSection("scripts", required: false)

        @RenderSection("jsFooter", required: false)
</body>
</html>