@model Model.EF.Bang_DS_DatPhong
@{
    ViewBag.Title = "DatPhongMoi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header
    {
    Đặt Phòng
}
<div>
    @using (Html.BeginForm("DatPhongMoi", "DatPhong", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()


        <div class="col-8" style="background-color:#e8dada; margin:auto" ,>

            <form>
                <h3 style="text-align: center;font-weight: bold; color:black">Đặt Phòng</h3> @*margin-left:130px;*@

                <div class="form-row">
                    <div class="form-group col-md-6">

                        <label for="P">Họ và Tên</label>
                        @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" }, })
                        @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group col-md-6">
                        <label for="TP">SDT</label>
                        @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" }, })
                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                    </div>

                </div>
                @*----------------------------------------------*@

                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="email4">Email</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" }, })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="SN">Số Người</label>
                        @Html.EditorFor(model => model.SoNguoi, new { htmlAttributes = new { @class = "form-control" }, })
                        @Html.ValidationMessageFor(model => model.SoNguoi, "", new { @class = "text-danger" })
                    </div>

                </div>
                @*--------------------------------------------------------------------*@

                @*<div class="form-row">

                        <div class="form-group col-md-6">

                            <label for="inputState">Loại Phòng</label>
                            <select id="inputState" class="form-control">
                                <option selected>Mời chọn Loại Phòng</option>
                                <option>...</option>
                            </select>

                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputState">Tên Phòng</label>
                            <select id="inputState" class="form-control">
                                <option selected>Mời chọn Phòng</option>
                                <option>...</option>
                            </select>

                        </div>

                    </div>*@
                @*-------------------------------------------------------------*@

                <div class="form-group">
                    @*@Html.LabelFor(model => model.MaPhong, htmlAttributes: new { @class = "control-label col-md-2 " })*@
                    
                        @*@Html.DropDownListFor(model => model.MaPhong, null, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaPhong, "", new { @class = "text-danger" })*@
                    @*<div class="col-md-12">
                        <label for="">Tên Phòng</label>
                        @Html.EditorFor(model => model.CT_DatPhong.MaPhong, new { htmlAttributes = new { @class = "form-control" }, })
                        @Html.ValidationMessageFor(model => model.CT_DatPhong.MaPhong, "", new { @class = "text-danger" })
                    </div>*@

                </div>

                @*-----------------------------------------*@

                <div class="form-row">
                    @*<div class="form-group col-md-4" typeof="number">
                            <label for="D">Ngày nhận phòng </label>

                            @Html.EditorFor(model => model.NgayBD, new { htmlAttributes = new { @class = "form-control" }, })
                            @Html.ValidationMessageFor(model => model.NgayBD, "", new { @class = "text-danger" })

                        </div>*@
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Địa Chỉ</label>
                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" }, })
                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                    </div>



                    <div class="form-group col-md-6">
                        <label for="D">Ngày Trả Phòng  </label>
                        @Html.EditorFor(model => model.NgayKT, new { htmlAttributes = new { @class = "form-control" }, })
                        @Html.ValidationMessageFor(model => model.NgayKT, "", new { @class = "text-danger" })
                    </div>

                    @*<div class="form-group col-md-4" typeof="number">
                            <label for="D">Ngày Đặt </label>

                            @Html.EditorFor(model => model.NgayDat, new { htmlAttributes = new { @class = "form-control" }, })
                            @Html.ValidationMessageFor(model => model.NgayDat, "", new { @class = "text-danger" })

                        </div>*@
                </div>

                <div class="a" style="text-align:center">
                    <input type="submit" value="Đặt Phòng" class="btn btn-danger btn-icon-split"> @*margin:10px 30px 10px 100px;width:90px;*@ @*style="margin:10px 10px 10px 10px;width:90px;background-color:#ed3e2a;*@

                    @*<button type="submit" class="btn btn-primary">Sign in</button>*@

                </div>
            </form>
        </div>

    }
</div>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $("#NgayBD").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "1980:",
                showOn: "both",
                buttonText: "<i class ='fa fa-calendar'></i> Chọn ngày",
            });
        });
        //$(document).ready(function () {
        //    $("#NgayBD").datepicker();
        //});

        $(function () {
            $("#NgayKT").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "1980:",
                showOn: "both",
                buttonText: "<i class ='fa fa-calendar'></i> Chọn ngày",
            });
        });
        //$(document).ready(function () {
        //    $("#NgayKT").datepicker();
        //});

        $(function () {
            $("#NgayDat").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "1980:",
                showOn: "both",
                buttonText: "<i class ='fa fa-calendar'></i> Chọn ngày",
            });
        });
        //$(document).ready(function () {
        //    $("#NgayDat").datepicker();
        //});

    </script>
}
