@model PagedList.IPagedList<Model.EF.ChiTietHangHoa>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh sách hàng hóa trong kho
}

<table class="table">
    <tr>
        <th>
            Mã hàng
        </th>
        <th>
            Tên hàng hóa
        </th>
        <th>
            Loại Hàng
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Đơn Giá
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row_@item.MaHang">
            <td>
                @Html.DisplayFor(modelItem => item.MaHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HangHoa.TenHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HangHoa.LoaiHang.TenLoaiHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>

            <td>
                <a href="/Admin/Cart/AddItem?MaHang=@item.MaHang&SoLuong=1">Xuất Hàng</a>
            </td>
        </tr>
    }

</table>
<label>
    Trang số: @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
</label>
